<div class="text-center mt-5" style="color:red; text-align:center; position:absolute;   top:33%; left:37%">
    <h1 style="font-size:35px;"><i class="bi bi-x-circle text-danger"></i> Cancelled</h1>
    <p style="font-size:30px;">Your payment was cancelled.</p>
    <button style="font-size:15px;cursor:pointer;" onclick="location.href='http://localhost:4200';">Advance</button>
</div>